{{ partial "header.html" . }}
<div class="row">
  <div class="small-12 columns" role="content">
    <article>
      <h1>{{ .Title }}</h1>
      <h6>
        {{ .Date.Format "2006-01-02" }}&nbsp;by {{ .Params.author }}
        {{ if isset .Params "tags" }}
	Tags:&nbsp;{{ range $i, $e :=.Params.tags }}
	{{if $i}} , {{end}}
	<a href="/tags/{{ . | urlize }}">{{ . }}</a>
	{{ end }}
        {{ end }}
      </h6>
      <div class="row">
        <div class="small-12 columns">
          {{ .Content }}
        </div>
      </div>
    </article>
  </div>
  <div class="small-12 columns">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- bottom-banner -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-7743566866676076"
         data-ad-slot="1456500346"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="small-12 columns">
    {{ template "_internal/disqus.html" . }}
  </div>
  <hr />
</div>
{{ partial "footer.html" . }}
